.flex-parent {
  display: flex;
  flex-flow: row wrap;
}

.flex-child {
  flex-grow: 1;
  flex-basis: 30em;
}

.side {
  background-color: yellow;
  height: 100vh;
  overflow-x: hidden;

  &.right {
    background-color: blue;
    overflow-y: hidden;
  }

  &.left {
    background-color: red;
    overflow-y: scroll;
  }
}