.flex-parent {
  display: flex;
  flex-flow: row wrap;

  &.inner {
    flex-flow: column nowrap;
  }
}

.flex-child {
  flex-grow: 1;
  flex-basis: 30em;

  &.inner {
    display: inherit;
    align-items: center;
    justify-content: center;
  }
}

.side {
  background-color: yellow;
  height: 100vh;
  overflow-x: hidden;

  &.right {
    background-color: blue;
    overflow-y: hidden;
  }

  &.left {
    background-color: red;
    overflow-y: scroll;
  }
}