.flex-parent {
  display: flex;
  flex-flow: row wrap;

  &.inner {
    flex-flow: column nowrap;
  }
}

.flex-child {
  flex-grow: 1;
  flex-basis: 30em;

  &.inner {
    display: inherit;
    align-items: center;
    justify-content: center;
    padding: 10% 10%;
  }
}

.side {
  height: 100vh;
  overflow-x: hidden;

  &.right {
    overflow-y: hidden;

    & > div.step-section {
      position: absolute;
      background-color: white;
      width: 50%;
      //    z-index: -10;
      opacity: 0;

      -webkit-transition:opacity 350ms ease-out;
      -moz-transition:opacity 350ms ease-out;
      -o-transition:opacity 350ms ease-out;
      transition:opacity 350ms ease-out;
    }

    & > div.fadeIn {
      display: flex;
      opacity: 1;
      //    z-index: 999;
    }

    & > div#zero-images {
      //    z-index: 10;
      //    opacity: 1;
    }
  }

  &.left {
    overflow-y: scroll;
    background-color: $leftBackground;

    & p {
      font-size: 1.25em;
      line-height: 1.25;
    }

    & div.flex-child {
      flex-flow: column;
      justify-content: space-around;
      align-items: flex-start;
    }
  }
}