// Modules and Variables
@import "partials/base";
@import "modules/colors";

// Partials
@import "partials/reset";
@import "partials/typography";
@import "partials/buttons";
@import "partials/figures";
@import "partials/grids";
// ...

// Third-part
body {
  font-size: $Bodycopy;
}

.side > p {
  font-size: 2em;
}

.content {
  background-color: green;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*Scroll-Steps-Import*/
#container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.step-section {
  height: 100%;
  width: 100%;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}